<h3 class="text-center my-2">Template Driven From With ngForm</h3><hr>
<div class="container">

  <div class="row">
    <div class="col-5">
      <form #profileForm="ngForm" (ngSubmit)="Submitdata(profileForm.value)">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" ngModel name="name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" ngModel name="email">
        </div>
        <div class="form-group">
          <label for="mno">Mobile Number</label>
          <input type="text" class="form-control" ngModel name="mobile">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" name="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-5">
      {{ profileForm.value | json }} <br>
      Entered Name: {{Name}} <br>
      Entered Email: {{Email}} <br>
      Entered Mobile Number: {{Number}} <br>
    </div>
  </div>
</div>

